h2 h1 {
    font-family: 'Kaisei HarunoUmi', serif;
    size: 20px;}
.h1 {font-family: 'Roboto', sans-serif;
    size: 18px;
    color: #FEFEDF;
    background-color: #00C9A7;}
.h2 {font-family: 'IBM Plex Sans Arabic', sans-serif;
    size: 16px;
    color: #FEFEDF;
    background-color: #C493FF;}
.h3 {font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    size: 14px;
    background-color: #C493FF;
    color: #FEFEDF;
    color: }
.p {font-family: 'Montserrat', sans-serif;
    size: 12px;}
p {font-family: 'Kaisei HarunoUmi', serif;
    size: 14px;}

img {width: 326.4px;
    height: 244.8px;
}

a {border: 1px solid black;
    color: #FEFEDF;
    background-color: #00C9A7;
    font-family: 'Montserrat', sans-serif;
    size: 12px;}

a:hover {color: #FEFEDF;
        background-color: #845EC2;}
a:active {color: #FEFEDF;
    background-color: #C493FF}

div {border: 1px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;}

.darkPurple {background:#845EC2;}
.purple {background: #C493FF;}
.yellow {background: #FEFEDF;}
.green {background: #00C9A7;}

